<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; Alpha Blog
			by <a href="https://alpha-blog-keanu89.herokuapp.com/">First Rails Project</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to 'About', about_path %></li>
				<li><%= link_to 'Home', root_path %></li>
			</ul>
		</nav>
	</footer>
</div>